.alert-message
  チャットグループが作成されました。
.side-bar
  .header
    %h3.header__name
      sampleユーザー
    = link_to do
      %i.fa.fa-cog.icon.fa-fw
    = link_to do
      %i.fa.fa-edit.icon.fa-fw
  .groups
    .group
      .group__name
        test
      .group__message
        テスト4

    .group
      .group__name
        test
      .group__message
        テスト4

    .group
      .group__name
        test
      .group__message
        テスト4

.chat
  .header
    .left-header
      %h3.left-header__group
        sampleグループ
      %ul.members
        Member :
        %li.member
          sampleユーザー
    .right-header
      = link_to "Edit", "#", class:"right-header__button"

  .messages
    .message
      .upper-message
        sampleユーザー
        .message-dayTime
          2018/12/25 12:00:00
      .lower-message
        sampleテキスト

    .message
      .upper-message
        sampleユーザー
        .message-dayTime
          2018/12/25 12:00:00
      .lower-message
        sampleテキスト

    .message
      .upper-message
        sampleユーザー
        .message-dayTime
          2018/12/25 12:00:00
      .lower-message
        sampleテキスト

    .message
      .upper-message
        sampleユーザー
        .message-dayTime
          2018/12/25 12:00:00
      .lower-message
        sampleテキスト

    .message
      .upper-message
        sampleユーザー
        .message-dayTime
          2018/12/25 12:00:00
      .lower-message
        sampleテキスト

    .message
      .upper-message
        sampleユーザー
        .message-dayTime
          2018/12/25 12:00:00
      .lower-message
        sampleテキスト

  = form_tag do
    .form
      %input{type: "text", name: "text", placeholder: "type a text", class: "text"}
      .form__mask
        %label
          %input{type: "file", name: "file", class: "file"}
          %i.fa.fa-image.icon
      %input{type: "submit", value: "Send", class: "submit"}
