.chat-group-form__field--right
  .chat-group-user.clearfix.js-chat-member
    %input{name: 'group[user_ids][]', type: 'hidden', value: group_user.id}
    %p{class: 'chat-group-user__name'}
      = group_user.name
    - if(group_user.id != current_user.id)
      %a{class: 'user-search-remove chat-group-user__btn chat-group-user__btn--remove js-remove-btn'}
        削除
